#nodebb *, #nodebb *:before, #nodebb *:after {
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

#nodebb {
	margin-top: 50px;
	min-height: 300px;
}
#nodebb .well {
    min-height: 20px;
    padding: 24px;
    margin-bottom: 20px;
    background-color: #FFF;
    border: 1px solid #EDEDED;
    border-radius: 0px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05) inset;
}
#nodebb .topic-item {
	font-family: Roboto,Helvetica,Arial,sans-serif;
	font-size: 14px;
	line-height: 1.42857;
	color: #333;
	min-height: 75px;
	position: relative;
}

#nodebb .topic-body {
	padding: 10px;
	padding-bottom: 5px;
	display: inline-block;
	width: 100%;
}

#nodebb .topic-profile-pic {
	float: left;
	margin-left: 15px;
	margin-right: 15px;
	width: 50px;
	position: absolute;
	left: -85px;
}

#nodebb .user {
	left: -83px; /*why??*/
}

#nodebb .topic-text {
	width: 100%;
	float: left;
	font-size: 18px;
	color: #333;
	overflow: hidden;
	word-wrap: break-word;
}

#nodebb .topic-text blockquote {
	margin-left: 10px;
}

#nodebb .topic-text img {
	display: inline-block;
}

#nodebb .topic-text p {
	margin: 10px;
}

#nodebb .topic-text small {
	color: #888;
}

#nodebb .profile-image {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    border: 1px solid #EFEFEF;
    line-height: 52px;
    font-size: 26px;
    color: white;
    text-align: center;
}

#nodebb > ul {
    margin-bottom: 0px;
    margin-top: 20px;
    list-style-type: none;
    padding: 0px;
}

#nodebb > ul > li {
    border-left: 2px solid #333;
    background-color: #FFF;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
    padding-bottom: 0px;
    margin-bottom: -10px;
    -webkit-transition: opacity 0.3s ease-in;
    -moz-transition: opacity 0.3s ease-in;
    -o-transition: opacity 0.3s ease-in;
    -ms-transition: opacity 0.3s ease-in;
    transition: opacity 0.3s ease-in;
    opacity: 1;
}

#nodebb .form-control:focus {
    border-color: #66AFE9;
    outline: 0px none;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(102, 175, 233, 0.6);
}

#nodebb .form-control {
    display: block;
    width: 100%;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 1.42857;
    color: #555;
    vertical-align: middle;
    background-color: #FFF;
    background-image: none;
    border: 1px solid #CCC;
    border-radius: 0px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

#nodebb .btn {
	display: inline-block;
	margin-bottom: 0px;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	white-space: nowrap;
	padding: 8px 12px;
	font-size: 14px;
	line-height: 1.42857;
	border-radius: 0px;
	-moz-user-select: none;
	margin-top: 5px;
	margin-left: 5px;
}

#nodebb .btn:focus {
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}
#nodebb .btn:hover,
#nodebb .btn:focus {
	color: #333333;
	text-decoration: none;
}
#nodebb .btn:active,
#nodebb .btn.active {
	outline: 0;
	background-image: none;
	-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
	box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

#nodebb .btn.btn-primary {
    background: none repeat scroll 0% 0% #38C071;
    color: #FFF;
    border-radius: 3px;
    border: 1px solid #38C071;
    float: right;
}

#nodebb iframe {
	border: 0;
}

#nodebb .nodebb-post-fadein {
	opacity: 0;
}

#nodebb #nodebb-error {
	color: #dd3232;
}

#nodebb .nodebb-copyright {
	font-size: 14px;
}

#nodebb .nodebb-copyright a {
	text-decoration: none;
	color: #38C071;
}

#nodebb .emoji {
    height: 20px;
    width: 20px;
    display: inline-block !important;
}

.nodebb-author img {
	width: 20px;
	height: 20px;
	border-radius: 100%;
}